# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django specific files
db.sqlite3  # SQLite database file
*.log       # Log files
*.pot       # Translation files
*.pyc       # Compiled Python files
property_site/settings.py  # Exclude settings.py file


# Environment variables file
.env



# IDE and editor specific files
.vscode/
.idea/
*.swp
*~

# OS specific files
.DS_Store
Thumbs.db
